<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"> <!-- 문자 인코딩 설정 -->
    <title>Create User</title>
    <style>
        .fieldError {
            border-color: #bd2130;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>로그인</h1>
    <form role="form" action="/user/login" th:object="${loginForm}" method="post">
        <div class="form-group">
            <label th:for="loginId">Login ID:</label>
            <input type="text" th:field="*{loginId}" class="form-control" placeholder="이메일 형식으로 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="password">Password:</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요">
        <button type="submit" class="btn btn-primary">로그인</button>
        </div>
    </form>
    <br/>
</div> <!-- /container -->
</body>
</html>